/* * tipo de selector {
	propiedad:  valor;
	propiedad-2:  valor;
} */

/* body {
	background: peru;
} */

/* selector universal
* {
	border: 1px solid red;
	margin: 10px;
}

selector de etiqueta
header {
	background: blue;
}

selector de etiqueta a otra etiqueta
section {
	background: purple;
}

selector descendente
h3 {
	color: green;
}

selectores de clase
.title-a {
	background: yellow;
}
.title-b {
	background: salmon;
}

selector de id
#header {
	border: 3px solid black;
}
#portada {
	border: 3px solid orange;
}
#guitarras {
	border: 3px solid brown;
} */


body {
	font-family: 'Allerta', sans-serif;
}
.titulo {
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
}
.title-a {
	font-size: 24px;
}
.title-b {
	font-size: 50px;
}
.guitarras {
	color: #1F313C;
}
.guitarras h2 {
	ont-family: 'Montserrat', sans-serif;
	font-size: 35px;
}
.portada {
	background-image: url('../images/background.png');
	color: white;
}
.menu {
	font-size: 24px;
}
